@font-face {
    font-family: "MullerMedium";
    src: url("https://db.onlinewebfonts.com/t/892951b494976f7fd57f5d460c690966.eot");
    src: url("https://db.onlinewebfonts.com/t/892951b494976f7fd57f5d460c690966.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/892951b494976f7fd57f5d460c690966.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/892951b494976f7fd57f5d460c690966.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/892951b494976f7fd57f5d460c690966.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/892951b494976f7fd57f5d460c690966.svg#MullerMedium")format("svg");
}

body{
    font-family: MullerMedium;
    margin: 10px;
    font-size: 21px;
    font-weight: 400;
}

h1{
    font-size: 64px;
    margin-top: 200px;
    margin-bottom: 27px;
}
h2{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 8px;
}
h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin: 0;
    word-wrap: break-word
}


button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
    cursor: pointer;
}

section.main{
    padding: 38px 100px 10px 100px;
    box-sizing: border-box;
    height: 910px;
    display: flex;
}

header{
    position: absolute;
    display: flex;
    width: calc(100% - 220px);
    justify-content: space-between;
    height: fit-content;

}

header>figure{
    margin: 0;
    align-self: center;
}

.contacts{
    padding: 5px 5px 5px 40px;
    background-image: url("icons/contacts.svg");
    background-repeat: no-repeat;
    background-position: 5px 5px;
    height: 35px;
    align-self: center;
    cursor: pointer;
}

section.main>section>p{
    margin: 0;
}

section.main>section>*.panel{
    margin-top: 45px;
    display: flex;
    gap: 30px;
}

section.main>section>*.panel>button{
    color: white;
    font-weight: 400;
    font-size: 16px;

    width: 260px; 
    height: 50px; 

    background: #F9572E; 
    box-shadow: 0px 7px 15px rgba(249, 87, 46, 0.60);
    
    border: none;
    border-radius: 25px;
    word-wrap: break-word
}
aside.video{
    float: right;
    height: 920px;
    margin-top: -38px;
    margin-right: -100px;
    width: calc(50% + 100px);

    background-image: url("media/mainimage.png");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

section.main>section{
    width: 50%;
}

button.playvideo{
    height: 315px;
    width: 255px;
    padding: 255px 0 10px 0;
    text-align: center;
    background: url(icons/play.svg) top center no-repeat;
    color: #F9572E; line-height: 30px; 
    word-wrap: break-word;
}

label.noaccent{
    line-height: 24px;
    font-size: 16px;
    color: #666666;
    align-self: center;
}

a.scroll{
    position: absolute;
    top: calc(100vh - 90px); /* Для того чтобы якорь всегода был рядом снизу viewport */
    padding: 3px 5px 3px 53px;

    background: url(icons/arrows.svg) left center no-repeat;

    cursor: pointer;

    color: #F9572E;
    font-size: 16px;
    line-height: 18px;
    word-wrap: break-word
}

.cutwide{
    margin: 0 24%;
}
section.about{
    padding: 150px 0 50px;
}

p.subtitle{
    color: #33B5A3;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 0.62px;
    word-wrap: break-word;
    margin-top: 8px;
    margin-bottom: 50px;
}

section.about>ul{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80px;
}

section.about>ul>li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 10px;

    max-width: 450px;
    width: 45%;
    min-width: 300px;
    height: 180px;
    border-top: 4px #63D2C1 solid;
    padding-top: 33px;
    box-sizing: border-box;
}

li.deadline{
    border: 4px #63D2C1 solid;
    padding: 40px 90px;
    text-align: center;
}

span.title{
    font-size: 24px;
    line-height: 32px;
}

span.amount{
    font-size: 60px;
    line-height: 64px;
}


section.about>ul>li>p{
    color: #666666;
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word
}

@media (max-width: 1600px)
{
    .cutwide{
        margin: 0 15%;
    }
}

@media (max-width: 1000px)
{
    .cutwide{
        margin: 0 10%;
    }
}